.berita {
	padding: 60px 0;
	background-color: $gray-bg;
	text-align: center;

	h1 {
		color: $white;
		margin: 0 0 45px;
	}

	.box {
		padding: 10px;
		a {
			background-color: $white;
			display: block;
		}
		
		.title-container {
			display: table;
			min-height: 223px;
			padding-left: 0;

			
			@media only screen and (min-width: 801px) and (max-width: 1180px) {
				min-height: 140px;
				h3 {
					font-size: 18px;
				}
			}
			
			@media only screen and (min-width: 581px) and (max-width: 800px) {
				min-height: 200px;
			}

			@media only screen and (min-width: 411px) and (max-width: 580px) {
				min-height: 120px;
				h3 {
					font-size: 18px;
				}
			}

			@media only screen and (min-width: 0px) and (max-width: 410px) {
				min-height: 94px;
				h3 {
					font-size: 15px;
				}
			}

		}

		.title {
			text-align: center;
			display: table-cell;
			vertical-align: middle;
			min-height: 100%;
			padding-left: 0;
			padding-right: 10px;
			img {
				margin-left: 15px;
			}
		}

		h3 {
			font-size: 22px;
		}
	}

	.selengkapnya {
		padding-top: 30px;
	}
}


.berita-page {
	background-color: $white;
	h1 {
		color: $black;
		margin: 0 0 45px;
	}


	.box {
		padding: 10px;
		a {
			background-color: $gray-2;
			display: block;
		}

		h3 {
			color: $white;
		}
	}

}