.header-background {
	position: relative;
	margin: 0 auto;
	background-size: cover;
	background-image: url('../assets/img/slider-background-03.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-origin: top right;
	background-position: center;
	
	min-height: calc(100vh - 350px);

	@media #{$small-only} {
		min-height: 100vh;
	}

	@media only screen and (min-height: 541px) and (max-height: 800px) {
		min-height: calc(100vh - 120px);
	}

	@media only screen and (min-height: 0) and (max-height: 540px) {
		min-height: calc(100vh - 45px);
	}
}

.box-dukung {
	position: absolute;
	bottom: 20%;
	left: 10%;

	max-height: 360px;
	max-width: 480px;
	border-top: 45px solid $light-blue-brand;
	background-color: $blue-brand;
	padding: 15px;
	border-radius: 3px 3px 10px 10px;
	color: $white;

	h3 {
		text-align: center;
		color: $white;
		margin: 0 15px 15px;
	}

	@media #{$small-only} {
		position: absolute;
		left: 15px;
		right: 15px;
		bottom: 10%;
		margin: 0 auto;
	}

	@media only screen and (min-height: 0) and (max-height: 540px) {
		bottom: 15px;
		padding: 10px 0;
		border-top: 30px solid $light-blue-brand;
		max-height: 300px;

		h3 {
			margin: 0 10px 10px;
			font-size: 1.5rem;
		}
	}


}

.box-social {
	position: absolute;
	bottom: 30px;
	right: 30px;
	
	
	font-size: 14px;
	text-transform: uppercase;
	
	a {
		background-color: $blue-facebook;
		padding: 5px 10px;
		border-radius: 3px;
		color: $white;	
	}

	@media #{$small-only} {
		display: none;
	}
}