// Add some whitespace above the footer for medium-up screens
@media #{$medium-up} {
	footer.row {
		margin-top: rem-calc(60);
	}
}


footer.footer {
	padding: 60px 0;
	background-color: $red-brand;
	color: $white;
	text-align: center;

	a.logo {
		display: block;
		margin: 15px 0;
		img {
			height: 50px;
		}
	}

	.social-links {
		padding: 15px 0;
		a {
			text-transform: uppercase;
			color: $white;
		}
	}

	p {
		margin: 0;
	}
}