// Add some whitespace above the footer for medium-up screens
@media #{$medium-up} {
	footer.row {
		margin-top: rem-calc(60);
	}
}


footer.footer {
	padding: 60px 0;
	background-color: $gray-bg;
	color: $white;

	@media #{$small-only} {
		text-align: center;
	}

	p {
		margin: 0;
	}
}