@-webkit-keyframes naikturun {
	from {
		bottom: 20px;
	}

	to {
		bottom: 50px;
	}
}

@keyframes naikturun {
	from {
		bottom: 20px;
	}

	to {
		bottom: 50px;
	}
}

.header-background {
	z-index: 0;
	position: relative;
	margin: 0 auto;
	
	height: 100vh;	

	.portrait-image {
		padding: 60px 0 0;
	}

	.logo-header {
		z-index: -1;
		position: fixed;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);

		text-align: center;
		p {
			margin: 100px 120px 0;
			font-size: 20px;
			font-style: italic;
		}
	}

	.panah {
		position: fixed;
		z-index: -1;
		bottom: 20px;
		left: 50%;
		-webkit-transform: translate(-50%, 0);
		-ms-transform: translate(-50%, 0);
		-o-transform: translate(-50%, 0);
		transform: translate(-50%, 0);
		width: 50px;
		height: 30px;

		-webkit-animation-duration: 0.8s;
		-webkit-animation-name: naikturun;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-direction: alternate;
		-webkit-animation-timing-function: linear;
		animation-duration: 0.8s;
		animation-name: naikturun;
		animation-iteration-count: infinite;
		animation-direction: alternate;
		animation-timing-function: linear;
		a {
			width: 100%;
			height: 100%;
			display: block;			
		}
		img {
			width: 100%;
			height: 100%;
		}
	}

	@media #{$medium-only} {
		.logo-header {
			p {
				margin: 60px 30px 0;
			}
		}
	}

	@media #{$small-only} {
		.logo-header {
			position: absolute;
			top: 100px;
			bottom: 0;
			left: 40px;
			right: 40px;
			-webkit-transform: translate(0, 0);
			-ms-transform: translate(0, 0);
			-o-transform: translate(0, 0);
			transform: translate(0, 0);
			p {
				margin: 60px 15px 0;
				font-size: 18px;
			}
		}

		.panah {
			position: absolute;
		}
	}
}


section.nav {
	z-index: 5;
	position: fixed;
	top: 0;
	height: 110px;
	width: 100%;
	text-align: center;
	padding: 5px 15px 10px;
	background-color: $blue-brand;
	color: $white;
	opacity: 0;
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 1s ease-in-out;
	-o-transition: -o-transform 0.5s ease-in-out, opacity 1s ease-in-out;
	transition: transform 0.5s ease-in-out, opacity 1s ease-in-out;
	&.visible {
		opacity: 1;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
	}

	.link {
		font-weight: 900;
		line-height: 110px;
		display: inline;
		margin: 0 50px;
		text-transform: uppercase;
	}

	a {
		color: $white;
		padding: 10px 15px;
		border-radius: 2px;
		-webkit-transition: all 0.3s ease-out;
		-o-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;

		&:hover {
			background: #fff;
			color: $red-brand;
		}
	}

	a.logo {
		display: block;
		padding: 25px 0 30px;
		border-radius: 0;
		img {
			height: 50px;
		}
		&:hover {
			background: none;
		}
	}


	@media #{$medium-only} {
		.link {
			margin: 0 10px;
			a {
				padding: 7px 9px;
			}
		}

		a.logo {
			padding: 25px 0 10px;
		}
	}

	@media #{$small-only} {
		display: none;
	}
}

section.subscribe {
	padding: 60px 0 30px;
	background-color: $white-bg;

	.quotes {
		padding: 50px 30px 0;
		text-align: center;
		h4 {
			margin-top: 40px;
			font-style: italic;
			font-weight: 400;
		}
	}

	.form-subscribe {
		padding: 50px 30px 0;
		text-align: center;
		h4 {
			margin: 0 0 20px;
		}
		input[type='text'] {
			box-shadow: none;
			&:focus {
				border-color: $red-brand;
				background-color: $white;
			}
		}
		input[type='submit'] {
			margin: 10px 0 0;
		}
	}
}

section.quotes {
	position: relative;
	padding: 100px 0 80px;
	text-align: center;
	background-image: url('../assets/img/bg-quote.jpg');
	background-repeat: no-repeat;
	background-position: center center;

	&.parallax {
		background-attachment: fixed !important;
		background-size: cover;
	}

	&.no-parallax {
		background-attachment: scroll !important;
		background-size: cover !important;
	}

	h1 {
		color: $white;
		margin: 0 0 45px;
	}

	h3 {
		color: $white;
		margin: 0 0 30px;
		font-style: italic;
	}
}