article {
	padding: 0 30px;

	@media #{$small-only} {
		padding: 0 15px;
	}
}

.content {
	padding: 60px 0 30px;

	header {
		text-align: center;
		h1 {
			margin: 0 0 15px;
		}

		time, p {
			font-style: italic;
		}
	}

	.entry-content {
		p {
			font-size: 18px;
		}

		img {
			width: 100%;
			border: none;
			display: block;
			text-align: center;
			margin: 30px auto;
		}
	}

	@media #{$small-only} {
		header {
			h1 {
				font-size: 24px;
			}

			time, p {
				font-size: 16px;
			}
		}
		.entry-content {
			p {
				font-size: 16px;
			}
		}
	}

	&.page-standard {
		header {
			h1 {
				margin: 0 0 45px;
			}
		}
	}
}