
// A more subtle background color for the active menu item
.top-bar-section li.active:not(.has-form) a:not(.button)  {
	background: none;
}

.top-bar-section li.active:not(.has-form) a:hover:not(.button) {
	background: none;
}

.top-bar-container {
	background: $blue-brand;
	nav.top-bar {
		background: $blue-brand;
		max-width: 80%;
		text-align: center;

		ul.title-area {
			display: block;
			margin: 0 auto;
		}
	}
}


/* -- Off Canvas Navigation menu -- */
 
nav.menu {
    background: $red-brand;
    position: fixed;
    width: 250px;
    height: 100%;
    top: 0;
    right: -250px;

	z-index: 10;
    
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;

    &.open {
    	right: 0px;
    }
	
	h3 {
		padding: 0.8em 1em 1em 1em;
		color: #fff;
	}
    
    a {
	    display: block;
	    padding: 10px 5px 10px 2em;
	    color: #ccc;
	    color: rgba(255,255,255, 0.7);
	    font-size: 17px;
	    letter-spacing: 1px;
	    margin: 0px;
	    -webkit-transition: color 0.2s ease;
	    -moz-transition: color 0.2s ease;
	    transition: color 0.2s ease;

	    &:hover {
		 	color: #fff;
		 	color: rgba(255,255,255,1);	    	
	    }
    }

	button#showMenu {
		padding: 15px 20px;
		position: fixed;
		top: 0;
		right: 0;
		cursor: pointer;
		color: #fff;
		font-size: 20px;
		border: 0px;
		background: $red-brand;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		
		z-index: 20;
	
		&:focus {
			cursor: pointer;
			outline: 0px;
		}

		&:hover{
			background: $red-brand-transparent;
			cursor: pointer;
			-webkit-transition: all 0.2s ease-in-out;
			-moz-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
		}
	}

	@media #{$medium-up} {
		display: none;
	}
}