
// A more subtle background color for the active menu item
.top-bar-section li.active:not(.has-form) a:not(.button)  {
	background: none;
}

.top-bar-section li.active:not(.has-form) a:hover:not(.button) {
	background: none;
}

.top-bar-container {
	background: $blue-brand;
	nav.top-bar {
		background: $blue-brand;
		max-width: 80%;
		text-align: center;

		ul.title-area {
			display: block;
			margin: 0 auto;
		}
	}
}

.navigation {
	nav.top-bar {
		ul.title-area {
			li {
				float: left;
				margin: 0 5px;
				line-height: 45px;
				text-transform: uppercase;
				a {
					display: block;
					height: 100%;
					color: $white;
					padding: 0 10px;
					&:hover {
						background-color: $light-blue-brand;
					}
				}
			}
		}
	}
}