$white: #fff;
$light-white: #fcfcfc;
$white-bg: #f4f4f4;
$black: #000;

$gray-bg: #292929;
$gray-6: #666;
$gray-2: #222;
$gray-1: #111;

$red-brand: #950000;
$blue-brand: #950000; // this is actually red

$light-blue-brand: #0080CC;
$blue-facebook: #3b5998;
