$white: #fff;
$light-white: #fcfcfc;
$white-bg: #f4f4f4;
$black: #000;

$gray-bg: #444;
$gray-6: #666;
$gray-2: #222;
$gray-1: #111;

$blue-brand: #04244a;
$light-blue-brand: #0080CC;
$blue-facebook: #3b5998;
$red-brand: #9e0100;