$white: #fff;
$light-white: #fcfcfc;
$white-bg: #f4f4f4;
$black: #000;

$gray-bg: #292929;
$gray-c: #ccc;
$gray-6: #666;
$gray-2: #222;
$gray-1: #111;

$red-brand: #950000;
$red-brand-hover: #AA2222;
$blue-brand: #950000; // this is actually red
$red-brand-transparent: rgba(149,0,0,0.5);

$light-blue-brand: #0080CC;
$blue-facebook: #3b5998;
